extends layout

block content
  .menu
    h2 Menu
    ul.nav.nav-pills
      li
        a(href='/') Home
      li.active
        a(href='/applications') Applications
  h1= title
                        
  .list
    if (applications.length === 0)
      | No applications.
    each application, index in applications
      .item
        div.action
         form(action='/applications/#{application._id}', method='post')
           input(type='hidden', value=application._id.toString(), name='id')
           input(type='hidden', value='true', name='expired')
           input(type='hidden', value=locals._csrf, name='_csrf')
           input(type='submit', class='btn btn-success btn-xs task-done', value='Expire') 
        div.dateapplied(class=(application.Status =='active')? 'activeClass':'expiredClass')
          div
                  -var day = application.Applied.getDate()
                  -var m = application.Applied.getMonth()
                  -var y = application.Applied.getFullYear()
                  -var prettydate = m + " / " + day + " / " + y
          div

          span.name=prettydate
          |&nbsp
        div.name
          span.name=application.CompanyName
        div.position
          span.name=application.Position


