extends layout

block content
  .menu
    h2 Menu
    ul.nav.nav-pills
      li
        a(href='/') Home
      li
        a(href='/applications') List All Applications
      li
        a(href='/newapp') New Job Application
      li.active
        a(href='/inplay') Jobs in Play
  h1= applications.length + " " + title
                        
  .list
    if (applications.length === 0)
      | No applications.
    each application, index in applications
      .item
        div
          -var comptxt = ""
          -var myclass = ""
          -var nxtbtn = ""
          -var nxtstat = ""
          -myclass = application.Status =='active'? 'activeClass':'expiredClass';
          -if(application.RejectionLetter == "X")
             comptxt = 'rejected-app'
          -if(application.Status == 'active')
            myclass = 'activeClass'
            nxtbtn = 'Expire'
            nxtstat = 'expire'
           -else
            myclass = 'expiredClass'
            nxtbtn = 'Activate'
            nxtstat = 'active'
        div
        div.action
         form(action='/updatestat/#{application._id}', method='post')
           input(type='hidden', value=application._id.toString(), name='id')
           input(type='hidden', value=nxtstat, name='Status')
           input(type='hidden', value=locals._csrf, name='_csrf')
           input(type='submit', class='btn btn-success btn-xs task-done', value=nxtbtn) 
        div.dateapplied(class=myclass)
          div
                  -var day = application.Applied.getDate() + 1
                  -var m = application.Applied.getMonth() + 1
                  -var y = application.Applied.getFullYear()
                  -var prettydate = m + " / " + day + " / " + y
          div

          span.name=prettydate
          |&nbsp
        div.name(class=comptxt)
          span.name=application.CompanyName
        div.position
          a(href='/viewapp/#{application._id}') #{application.Position}

